body{
    display: grid;
    grid-template-columns: 300px auto;
    background-color: burlywood;
}
main{
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    height: 500px;
}

.front{
    display: none;
    border: solid black 1px;
}

.flipped .front, .matched .front{
    display: block;
    border: solid black 1px;
}

.flipped .back, .matched .back{
    display: none;
    border: solid black 1px;
}

.card{
    margin: 5px;
    cursor: pointer;
}

.score{
    margin-left: 5px;
}